server:
  port: 8086

spring:
  datasource:
    url: jdbc:h2:file:./data/booklab;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  h2:
    console:
      enabled: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

app:
  storage:
    root: ./storage

  openai:
    endpoint: "https://api.openai.com/v1/responses"
    # modèle pour traduire du texte brut (hébreu -> français)
    text-model: "gpt-5.2-pro-2025-12-11"
    # modèle vision pour traduire depuis image
    vision-model: "gpt-5.2-pro-2025-12-11"
    timeout-seconds: 500
    max-output-tokens: 5000
